.about-wrapper{
padding-top:10vh;
display:flex;
flex-direction: row;
width:100vw;
max-width:100%;
height:80vh;
flex:1;
margin: 0 auto;
padding-top:5vh;
padding-bottom: 5vh;
}
.left, .right{
display:flex;
flex-direction:column;
height:70vh;
padding-bottom:10px;
}

.left{
width:40vw;
margin-left:auto;
display: flex;
flex-direction: column;
align-items: baseline;
justify-content: flex-end;
background-image: url('/images/desk.jpg');
background-size:contain;
}
.left-info{
  background-color:white;
}
.right{
width:35vw;
flex-grow: 0;
margin-right:auto;
}
.left-img{
width:40vw;
height:auto;
}

.post{
padding:5px;
padding-top:0px;
display:flex;
flex-direction: row;
}
.post-img{
background-image: url('/images/desk.jpg');
width:40vw;
height:auto;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.post-info{
padding:5px;

}

@media only screen and (max-width: 800px) {
.about-wrapper{
  flex-direction: column;
}
.left, .right{
  width:100vw;
  height:auto;
  padding:0;
}
.left{
  height:40vh;
}
.post{
  flex-direction: column;
}
.post-img{
  width:100vw;
  height:30vh;
}
}
