.blogModalContent{
  display: flex;
  flex-direction: column;
}
.blogModalImage {
  width: 100vw;
height: 40vh;
  }

.blogModalImage > img{
  height: 100%;
width: 100%;
object-fit: cover;
}
.blogModalText{
  display:flex;
  width:auto;
  flex-direction: column;
  justify-content: flex-start;
  height:auto;
  padding:20vh;
  padding-top:5vh;
  padding-bottom: 5vh;
  overflow: auto;
}
.btnClose{
  position: absolute;
  top: 0;
  right: 0;
}

.modalOn{
  overflow: auto;
}

@media only screen and (max-width: 800px) {
.blogModalImage{
  width:100vw;
  height:40vh;
}
.blogModalText,
.modalText{
  justify-content: flex-start;
  overflow:scroll;
  padding:5vw;
}
}
